<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
               
                    <h2 class="post-title">
                        Just a index page, 
                    </h2>
                    <h3 class="post-subtitle">
                        Project build by ASP.NET MVC5, EF 6, AnagularJS
                    </h3>
                <p class="post-meta">Posted by Chi on Dec 16, 2014</p>
            </div>
            <hr>
        </div>
    </div>
</div>
